doctype 5
html(ng-app)
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js")
  body
    block content