extends layout

block content

  script(src="js/OrderListController.js")

  h1= title
  div(ng-controller="OrderListController")
    table
      thead
        th Order Number
        th Customer Reference
      tr(ng-repeat="order in orders")
        td {{order.orderNumber}}
        td {{order.customerReference}}