<div class="customer-order-edit-form">
    <div data-dojo-type="dijit.form.Form" data-dojo-attach-point="dapForm">
		<input type="hidden" data-dojo-attach-point="dapId"/>
        <div class="row">
            <div class="label">
                Order number:
            </div>
            <input type="text"
                   data-dojo-type="dijit.form.ValidationTextBox"
                   data-dojo-attach-point="dapOrderNumber"
                   data-dojo-props="required: true"
                    />
        </div>
        <div class="row">
            <div class="label">
                Customer reference:
            </div>
            <input type="text"
                   data-dojo-type="dijit.form.ValidationTextBox"
                   data-dojo-attach-point="dapCustomerReference"
                   data-dojo-props="required: true"
                    />
        </div>
        <div class="row">
            <button data-dojo-type="dijit.form.Button" type="submit" data-dojo-attach-point="dapSubmitButton">Submit</button>
        </div>
    </div>
</div>
