<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tutorial: Hello Dojo!</title>
</head>
<body>
<h1 id="greeting">Hello</h1>
<!-- load Dojo -->
<script>
    var dojoConfig = {
        async: true,
        packages: [{
            name: "app",
            location: "../js/app"
        }]
    };
</script>
<script src="js-lib/dojo/dojo.js"
        data-dojo-config="async: true"></script>

<script type="text/javascript">
    require([
            "put-selector/put",

            "dojo/domReady!"
    ], function(put){
        console.log('asdasd');
    });
</script>
</body>
</html>